@import "../assets/global";

.about {
    &-section {
        &__title {
            max-width: 417px;
            &-page {
                max-width: 190px;
            }
        }
        &__body {
            //min-height: 100%;
        }
        &__text {
            margin: 0;
            &+& {
                padding-top: 32px;
            }
            &:last-child {
                padding-bottom: 40px;
            }
        }
        &__btn {
            margin-top: 40px;;
        }
    }
    &__page {
        margin-bottom: 60px;
    }
    &__blockquote {
        width: 100%;
        margin-bottom: 60px;
        padding: 30px;
        background-color: $dark-1;
        &-text {
            font-weight: 300;
            font-size: 18px;
            line-height: 32px;
            color: $yellow;
            margin: 0;
        }

    }
}

@media (min-width: 767px) {
    .about {
        &-section {
        display: flex;
        &__body {
            width: 60%;
        }

        &__img {
            position: relative;
            flex: 0 0 40%;
            transform: translateX(-100%);
            &img {
                position: absolute;
                max-width: 100%;
                height: auto;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                object-fit: cover;
            }
        }
    }
}
}

@media (max-width: 766px) {
    .about-section__img {
        padding: 0 20px;
    }
}
