@use "../assets/global";

.about {
    &-section {
        &__title {
            max-width: 417px;
            &-page {
                max-width: 190px;
            }
        }
        &__body {
            width: 50%;
        }
        &__text {
            margin: 0;
            &+& {
                padding-top: min(calc(20px + 16 * ((100vw - 320px) / (1160 - 320))), 32px);
            }
        }
        &__btn {
            margin-top: min(calc(28px + 16 * ((100vw - 320px) / (1160 - 320))), 40px);
        }
        &__img {
            max-width: 100%;
        }
    }
    &__page {
        margin-bottom: 60px;
    }
    &__blockquote {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 60px;
        padding: 30px;
        background-color: $dark-1;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        &-text {
            font-weight: 300;
            font-size: 18px;
            line-height: 32px;
            color: $yellow;
            margin: 0;
        }
        & > img {
            height: 119px;
        }
    }
}

@media (min-width: 768px) {
    .about {
        &-section {
            &__img {
                position: absolute;
                height: 100%;
                top: 0;
                right: 0;
                object-fit: cover;
                &-wrapper{
                    max-height: 565px;
                    position: relative;
                    flex: 0 0 50%;
                    transform: translateX(-100%);
                }
            }
            &__body {
                width: 50%;
                padding-right: 10px;
            }
    }
}
}

@media (max-width: 767px) {
    .about-section {
        &__body {
            width: 100%;
        }
        &__img {
            width: 100%;
            right: 0;
            &-wrapper {
                padding-top: 40px;
            }
        }


    }
}

@media (max-width: 575px) {
    .about {
        &__blockquote {
            flex-direction: column;
            align-items: flex-end;
        }
    }
}
