@use "../assets/global";

    .contacts {
        &__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &-block {
            margin-bottom: min(calc(32px + 16 * ((100vw - 320px) / (1280 - 320))), 80px);
            margin-top: min(calc(42px + 16 * ((100vw - 320px) / (1280 - 320))), 60px);
            &__title {
                max-width: 440px;
            }
        }
        &__link {
            @include phone-number();
              color: #323232;
                  &:hover, &:visited, &:focus {
                      color: $dark-1;
                  }
          }
        &__icon {
            width: 24px;
            margin-right: 15px;
        }
        &__item {
            display: flex;
            align-items: center;
            &+& {
                margin-bottom: 10px;
            }
        }
        &__list{
            padding: 0;
            display: flex;
            flex-direction: column;

        }
        &__page-links {
            margin-top: 35px;
        }
    }

    .call-ordered-btn {
        margin-left: 45px;
        color: $dark-1 !important;
        padding-bottom: 5px;
        border-bottom: 1px solid $yellow;
        opacity: .9;
            &:hover {
                opacity: 1;
                color: $dark-1;
         }
    }

    .mail__link {
        margin: min(calc(16px + 16 * ((100vw - 320px) / (1280 - 320))), 32px) 0 min(calc(18px + 16 * ((100vw - 320px) / (1280 - 320))), 37px);
    }

    .map {
        &__frame {
            border-radius: 5px;
            width: 550px;
            height: 245px;
        }
    }
@media screen and  (max-width: 992px) {
    .map__frame {
        max-width: 100%;
        width: 470px;
        height: 220px;
    }
}

@media screen and (max-width: 755px) {
    .contacts__content {
        flex-direction: column;
    }
    .map {
        width: 100%;
        &__frame {
            width: 100%;
        }
    }
}
