@use "../assets/global";

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    &__links {
        margin-left: auto;
    }
    &__link {
        cursor: pointer;
        &+& {
            margin-left: 15px;
        }
    }
}

.copyrights {
    min-width: 100vw;
    background-color: $dark-2;
    padding: 10px 0;
    &__text {
        @include tiny-text();
        color: $white;
        margin: 0;
        &+& {
            padding-top: 10px;
        }
    }
}
@media (max-width: 768px) {
    .footer > .menu {
        display: none;
    }
}
