@use "../assets/global";

.section {
    &__high-display {
        padding-top: 75px;
    }
    &__container {
        max-width: 1200px;
        padding: 0 20px;
        margin: 0 auto;
    }
    &__body {
        padding: min(calc(60px + 16 * ((100vw - 320px) / (1280 - 320))), 190px) 0 ;
        width: 50%;
    }

    &__heading {
        position: relative;
        padding-bottom: min(calc(15px + 16 * ((100vw - 320px) / (1280 - 320))), 30px);
        margin: 0;
        @include heading();
        color: $black;
        &::before {
            position: absolute;
            content: '';
            width: 200px;
            height: 2px;
            background-color: $yellow;
            left: 0;
            bottom: 0;
        }
    }

    &__text {
        margin: min(calc(15px + 16 * ((100vw - 320px) / (1160 - 320))), 30px) 0;
        @include text-regular();
    }

    &__btn {
        padding: 20px 6%;
        @include small-semibold-text();
        color: $black;
        background-color: $yellow;
        border-radius: 2px;
        &-dark {
            color: $yellow;
            background-color: $dark-1;
            padding: 20px 68px;
            &:hover {
                color: $white;
            }
        }
    }
    &__content {
        flex: 0 0 100%;
    }
    &__bg {
        background-color: #FBFBFB;
    }
    &__img {
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .section {
        display: flex;
        &__body {
            width: 55%;
        }
        &__content {
            max-height: 700px;
        }
        &__img {
            &-wrapper {
                max-height: 700px;
                flex: 0 0 45%;
                position: relative;
                transform: translateX(-100%);
            }
            //width: 100%;
            //height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
        }
    }
}
@media screen and (min-width: 1200px){
    .section {
        &__body {
            padding: 185px 0;
        }
    }
}

@media (max-width: 767px) {
    .section {
        &__body {
            width: 100%;
        }
        &__img-wrapper {
            transform: translateX(10%);
        }
    }
}
.achievements {
    padding: min(calc(30px + 16 * ((100vw - 320px) / (1280 - 320))), 90px) 0;
    &__list {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-left: 0;
    }
    &__item {
        flex: 0 0 32%;
    }
    &__counter {
        margin-bottom: 10px;
        font-size: min(calc(30px + 16 * ((100vw - 320px) / (1280 - 320))), 60px);
        font-weight: 400;
        line-height: min(calc(35px + 16 * ((100vw - 320px) / (1280 - 320))), 60px);
    }
    &__text {
        font-weight: 300;
        font-size: min(calc(14px + 16 * ((100vw - 320px) / (1280 - 320))), 18px);
        line-height: 26px;
    }
}

@media (max-width: 690px) {
    .achievements {
        &__item {
            margin-bottom: 15px;
            //flex-basis:50%;
        }
    }
}

@media (max-width: 645px) {
    .achievements {
        &__list {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__item {
            max-width: 50%;
        }
    }
}
