@import "../assets/global";


.menu {
  display: flex;
  align-items: center;
  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    margin-right: auto;
  }
  &__item {
    margin-left: 20px;
  }
  &__link {
    padding-bottom: 5px;
    @include small-text();
    color: $white;
    text-transform: uppercase;
    &:hover {
      color: $white;
      cursor: pointer;
      border-bottom: 1px solid $yellow;

    }
    &.active {
      border-bottom: 1px solid $yellow;
    }
  }
}

@media (min-width: 911px) and (max-width: 1200px) {
    .menu__item {
      margin-left: 15px;
    }
}
