@import "../assets/global";


.projects-block {
    &__title {
        max-width: 215px;
    }
    &__gallery {
        display: flex;
        flex-direction: column;
    }
    &__about-page {
        margin-bottom: min(calc(40px + 16 * ((100vw - 320px) / (1160 - 320))), 80px);
    }

    &__link {
        text-align: center;
        text-transform: uppercase;
        color: $yellow !important;
        padding: 20px min(calc(30px + 16 * ((100vw - 320px) / (1160 - 320))), 47px);
        &-wrapper {
            display: flex;
            justify-content: center;
        }
    }
}

.project-block{
    &__link {
    margin-left: auto;
    margin-right: auto;
    }
    &__loader {
        position: relative;
        &>img {
            width: 15px;
            margin-left: 15px;
            animation: spin 2s linear infinite;

        }
    }
    &__portfolio {
        margin-bottom: 60px;
    }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.gallery {
    margin-bottom: min(calc(42px + 16 * ((100vw - 320px) / (1160 - 320))), 60px);
    &__row {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;

    }
    &__card {
        margin-bottom: min(calc(40px + 16 * ((100vw - 320px) / (1160 - 320))), 60px);
        &-xl {
            //flex-basis: calc(50% - 30px);
        }

        & > p {
            margin: 15px 0 0;
            color: $black;
            font-weight: 300;
            font-size: min(calc(14px + 16 * ((100vw - 320px) / (1160 - 320))), 18px);
            line-height: 20px;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 1150px){
    .gallery__row {
        flex-direction: column;
        align-items: center;
    }
}

