<section class="about">
    <section class="section">
        <div class="section__content">
            <div class="_container-custom">
                <div class="about-section__body">
                    <h2 class="about-section__title block-title">
                        О СТУДИИ OBJECT+
                    </h2>
                    <p class="about-section__text">
                        Object+ - это одна из ведущих студий дизайна интерьера и архитектуры.
                    </p>
                    <p class="about-section__text">
                        Мы предоставляем услуги по разработке дизайн-проектов квартир, домов, коттеджей, кафе, ресторанов, офисов, торговых центров и магазинов, а также выполняем архитектурные проекты для строительства одноэтажных, двухэтажных, многоэтажных домов и общественных зданий.
                    </p>
                    <p class="about-section__text">
                        За годы работы мы приобрели прекрасную репутацию, создавая уникальные и изящные интерьеры, которые восхищают даже самых требовательных ценителей красоты.
                    </p>
                    <button class="section__btn section__btn-dark text-uppercase about-section__btn">Связаться с нами</button>
                </div>
            </div>
        </div>
        <div class="about-section__img-wrapper">
            <img class="about-section__img" src="../assets/images/about-image.svg" alt="about-block-background">
        </div>
    </section>
</section>
<hr class="separator">
