<section class="blockquote-wrapper">
    <div class="_container-custom ">
        <blockquote class="about__blockquote d-flex justify-content-between">
            <p class="about__blockquote-text">
                Мы создаем комфортные, уютные, изящные и функциональные помещения, в которых отражаем стиль и индивидуальность наших заказчиков. Каждый выполненный нами дизайн становится особенным и любимым местом для наших клиентов.
            </p>
            <img src="../assets/images/about-quote.png" alt="Эскиз студии " class="img-fluid">
        </blockquote>
    </div>
</section>