<section class="services-design__accordion">
  <div class="accordion-item">
    <input class="accordion-input" id="solution-1" type="checkbox"/>
    <label for="solution-1" class="accordion-title d-block">
        Планировочные решения
    </label>
    <div class="accordion-body">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
        voluptatum numquam sunt dignissimos libero exercitationem doloremque ex
        consectetur eum ipsam? Ipsa dolorem rerum ipsum, neque, debitis labore
        eveniet libero totam esse sint nobis cupiditate commodi impedit, quidem
        nam quasi voluptatibus.
      </p>
    </div>
  </div>
  <div class="accordion-item">
    <input class="accordion-input" id="solution-2" type="checkbox"/>
    <label for="solution-2" class="accordion-title d-block">
        Архитектурные стилевые решения
    </label>
    <div class="accordion-body">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
        voluptatum numquam sunt dignissimos libero exercitationem doloremque ex
        consectetur eum ipsam? Ipsa dolorem rerum ipsum, neque, debitis labore
        eveniet libero totam esse sint nobis cupiditate commodi impedit, quidem
        nam quasi voluptatibus.
      </p>
    </div>
  </div>
  <div class="accordion-item">
    <input class="accordion-input" id="solution-3" type="checkbox"/>
    <label for="solution-3" class="accordion-title d-block">
        Строительные чертежи
    </label>
    <div class="accordion-body">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
        voluptatum numquam sunt dignissimos libero exercitationem doloremque ex
        consectetur eum ipsam? Ipsa dolorem rerum ipsum, neque, debitis labore
        eveniet libero totam esse sint nobis cupiditate commodi impedit, quidem
        nam quasi voluptatibus.
      </p>
    </div>
  </div>
</section>
