<section class="contacts-block">
    <div class="_container-custom">
        <h2 class="contacts-block__title block-title text-uppercase">
            СВЯЗАТЬСЯ С НАМИ
        </h2>
        <div class="contacts__content">

    <ul class="contacts__list">
        <li class="contacts__item ">
            <img src="../assets/images/call.svg" alt="tel" class="contacts__icon">
        <a href="callto:+38 (099) 267-61-86" class="contacts__link">
                +38 (099) 267-61-86
            </a>
        </li>
        <li class="contacts__item">
            <img src="../assets/images/call.svg" alt="tel" class="contacts__icon">
            <a href="callto:+38 (096) 123-08-58" class="contacts__link">
                    +38 (096) 123-08-58
            </a>
        </li>
        <li class="contacts__item">
            <a href="#" class="call-ordered-btn">
                Заказать звонок
            </a>
        </li>
        <li class="contacts__item">
            <img src="../assets/images/mail_outline.svg" alt="mail" class="contacts__icon">
            <a href="mailto: objectplus13@gmail.com" class="contacts__link mail__link">
                objectplus13@gmail.com
            </a>
        </li>
        <li class="contacts__item">
            <img src="../assets/images/map.svg" alt="" class="contacts__icon">
            <a href="#" class="contacts__link">
                г. Харьков, ул. Сумская, 40
            </a>
        </li>
    </ul>
    <div class="map">
        <iframe class="map__frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2577.954349323174!2d36.23589295356249!3d50.00034606762052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0e6f5ce0153%3A0xacfbd54c5bf0699!2zS2hkdHViYSwg0LLRg9C70LjRhtGPINCh0YPQvNGB0YzQutCwLCA0MCwg0KXQsNGA0LrRltCyLCDQpdCw0YDQutGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwg0KPQutGA0LDQuNC90LAsIDYxMDAw!5e0!3m2!1sru!2sru!4v1639334945123!5m2!1sru!2sru" allowfullscreen="" loading="lazy"></iframe>
    </div>
        </div>
    </div>
</section>
</main>

