<div class="form__wrapper">
    <section class="form__section">
        <div class="form__content">
            <div class="_container-custom">
                <section class="form__app d-flex flex-column">
                    <h2 class="form__title block-title text-uppercase">
                        РАССЧИТАЙТЕ СТОИМОСТЬ РАБОТЫ
                    </h2>
                    <p class="form__description">
                        Оставьте заявку, и мы свяжемся с Вами, проведем консультацию и рассчитаем стоимость работы
                    </p>
                    <form action="" class="form__form d-flex flex-column justify-content-center ">
                        <input type="text" class="input text-input" name="text-input" placeholder="Ваше Имя">
                        <input type="tel" class="input phone-input" name="phone-input" placeholder="Ваш номер телефона">
                        <button class="btn section__btn section__btn-dark text-uppercase btn__large form__btn">Получить консультацию</button>
                    </form>
                </section>
            </div>
        </div>
        <section class="form__banner">
            <img src="../assets/images/form-photo.png" alt="" class="form__img img-fluid">
        </section>
    </section>
</div>