<header class="header">
    
    {{> logo }}

    <nav class="menu header__menu">
        <ul class="menu__list">
            <li class="menu__item">
                <a href="/about.html" class="menu__link text-uppercase">
                    О НАС
                </a>
            </li>
            <li class="menu__item">
                <a href="/services.html" class="menu__link text-uppercase">
                    ЧТО МЫ ДЕЛАЕМ
                </a>
            </li>
            <li class="menu__item">
                <a href="/project.html" class="menu__link text-uppercase">
                    ПРОЕКТ
                </a>
            </li>
            <li class="menu__item">
                <a href="/portfolio.html" class="menu__link text-uppercase">
                    ПОРТФОЛИО
                </a>
            </li>
            <li class="menu__item">
                <a href="/contacts.html" class="menu__link text-uppercase">
                    КОНТАКТЫ
                </a>
            </li>
        </ul>
        <ul class="social__list">
            <li class="social__item">
                <a  class="social__link-tel"
                    href="callto: +38 (099) 267-61-86">
                    +38 (099) 267-61-86
                </a>
            </li>
            <li class="social__item">
                <a  class="social__link-btn"
                    href="#">
                    Заказать звонок
                </a>
            </li>
        </ul>
        <ul class="social__list">
            <li class="social__item">
                <a  href="#" class="social__link text-uppercase">
                    FB
                </a>
            </li>
            <li class="social__item">
                <a  href="#" class="social__link text-uppercase">
                    INST
                </a>
            </li>
        </ul>
    </nav>

    
    
    
    <button class="header__menu-toggle">
        <span></span>
    </button>
</header>

        

