<main class="main">
    <section class="section section__high-display">
        <div class="section__content section__bg">
            <div class="_container-custom ">
                <div class="section__body">
                    <h1 class="section__heading">
                        ДИЗАЙН ИНТЕРЬЕРА
                        ДЛЯ ВАШЕГО КОМФОРТА
                    </h1>
                    <p class="section__text">
                        Object+ - это одна из ведущих студий дизайна интерьера и архитектуры в Харькове.
                    </p>
                    <button class="section__btn  text-uppercase">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</button>
                </div>
            </div>
        </div>
        <div class="section__img">
            <img src="../assets/images/1.png" alt="фон главного экрана" class="img-fluid"  oncontextmenu="return false">
        </div>
    </section>
    <section class="achievements">
        <div class="container _custom-container">
            <ul class="achievements__list d-flex flex-wrap justify-content-around align-items-start p-0">
                <li class="achievements__item d-flex flex-column ">
                    <span class="achievements__counter text-center">
                        13
                    </span>
                    <span class="achievements__text text-center">
                        Лет опыта работы
                    </span>
                </li>
                <li class="achievements__item d-flex flex-column justify-content-center">
                    <span class="achievements__counter text-center">
                        136
                    </span>
                    <span class="achievements__text text-center">
                        Реализованных проектов
                    </span>
                </li>
                <li class="achievements__item d-flex flex-column">
                    <span class="achievements__counter text-center">
                        100
                    </span>
                    <span class="achievements__text text-center">
                        Процентов гарантия результата в срок
                    </span>
                </li>
            </ul>
        </div>
    </section>