<nav class="menu">
    <ul class="menu__list">
        <li class="menu__item">
            <a href="/about.html" class="menu__link text-uppercase">
                О НАС
            </a>
        </li>
        <li class="menu__item">
            <a href="/services.html" class="menu__link text-uppercase">
                ЧТО МЫ ДЕЛАЕМ
            </a>
        </li>
        <li class="menu__item">
            <a href="/project.html" class="menu__link text-uppercase">
                ПРОЕКТ
            </a>
        </li>
        <li class="menu__item">
            <a href="/portfolio.html" class="menu__link text-uppercase">
                ПОРТФОЛИО
            </a>
        </li>
        <li class="menu__item">
            <a href="/contacts.html" class="menu__link text-uppercase">
                КОНТАКТЫ
            </a>
        </li>
    </ul>
</nav>