<section class="project-block">
  <div class="_container-custom">
    <h2 class="projects-block__title block-title text-uppercase">
      Проекты
    </h2>
    <div class="container gallery">
      <div class="row d-flex justify-content-between">
        <a href="#" class="col-6 d-block col-md-4 gallery__thumbnail">
          <img src="../assets/images/proj-1.png" alt="image" class="img-fluid">
          <p>ЖК Сокольники</p>
        </a>
        <a href="#" class="col-6 d-block col-md-4 gallery__thumbnail">
          <img src="../assets/images/proj-2.png" alt="image" class="img-fluid">
          <p>ЖК Авантаж</p>
        </a>
        <a href="#" class="col-6 d-block col-md-4 gallery__thumbnail">
          <img src="../assets/images/proj-3.png" alt="image" class="img-fluid">
          <p>ЖК Мира</p>
        </a>
      </div>
      <div class="row d-flex justify-content-betweeen mt-3">
        <a href="#" class="col-6 d-block gallery__thumbnail gallery__thumbnail-big align-self-start">
          <img src="../assets/images/proj-4.png" alt="image" class="img-fluid">
          <p>ЖК Мередиан, проект 1</p>
        </a>
        <a href="#" class="col-6 d-block gallery__thumbnail gallery__thumbnail-big align-self-end">
          <img src="../assets/images/proj-5.png" alt="image" class="img-fluid">
          <p>ЖК Мередиан, проект 2</p>
        </a>
      </div>
    </div>
     <div class="d-flex justify-content-center">
      <a href="/portfolio.html" class="project-block__link btn__middle-size section__btn section__btn-dark text-uppercase mx-auto">
        Смотреть все проекты
      </a>
     </div>
  </div>
</section>