<section class="projects-block">
  <div class="_container-custom">
    <h2 class="projects-block__title block-title">
      Проекты
    </h2>
    <div class="projects-block__gallery gallery">
        <a href="#" class="gallery__card">
          <img src="../assets/images/proj-1.png" alt="image" class="img-fluid">
          <p>ЖК Сокольники</p>
        </a>
        <a href="#" class="gallery__card">
          <img src="../assets/images/proj-2.png" alt="image" class="img-fluid">
          <p>ЖК Авантаж</p>
        </a>
        <a href="#" class="gallery__card">
          <img src="../assets/images/proj-3.png" alt="image" class="img-fluid">
          <p>ЖК Мира</p>
        </a>
        <a href="#" class="gallery__card gallery__card-xl">
          <span class="" style="background-image: url(../assets/images/proj-4.png)"></span>
          <img src="../assets/images/proj-4.png" alt="image" class="img-fluid">
          <p>ЖК Мередиан, проект 1</p>
        </a>
        <a href="#" class="gallery__card gallery__card-xl">
          <img src="../assets/images/proj-5.png" alt="image" class="img-fluid">
          <p>ЖК Мередиан, проект 2</p>
        </a>
    </div>
    <div class="projects-block__link-wrapper">
      <a href="/portfolio.html" class="projects-block__link section__btn section__btn-dark">
        Смотреть все проекты
      </a>
    </div>
  </div>
</section>
