<hr class="separator">
<section class="promotion-design">
    <div class="_container-custom">
        <h2 class="promotion__title block-title">
            Делаем дизайн "Под ключ"
        </h2>
        <div class="promotion__banner">
            <img class="img-fluid"
            src="../assets/images/design-banner.png"
            alt="promotion banner">
        </div>
        <p class="promotion__text">
            Наши специалисты возьмут на себя все заботы: разработка дизайн-проектов, создание чертежей для строителей, прорисовка эскизов мебели, визуализация будущего интерьера и сопровождение кропотливого процесса ремонтно-строительных работ до их полного завершения.
        </p>
        <ul class="promotion__list">
            <li class="promotion__item">
                <img src="../assets/images/design-icon-1.svg" alt="1" class="promotion__icon img-fluid">
                <p class="promotion__icon-text">
                    Оригинальная идея
                </p>
            </li>
            <li class="promotion__item">
                <img src="../assets/images/design-icon-2.png" alt="2" class="promotion__icon img-fluid">
                <p class="promotion__icon-text">
                    Чертежная документация
                </p>
            </li>
            <li class="promotion__item">
                <img src="../assets/images/design-icon-3.svg" alt="3" class="promotion__icon img-fluid">
                <p class="promotion__icon-text">
                    Подбор материалов
                </p>
            </li>
            <li class="promotion__item">
                <img src="../assets/images/design-icon-4.svg" alt="4" class="promotion__icon img-fluid">
                <p class="promotion__icon-text">
                    3D визуализация
                </p>
            </li>
            <li class="promotion__item">
                <img src="../assets/images/design-icon-5.png" alt="5" class="promotion__icon img-fluid">
                <p class="promotion__icon-text">
                    Сопровождение ремонтных работ
                </p>
            </li>
            <li class="promotion__item">
                <img src="../assets/images/design-icon-6.svg" alt="6" class="promotion__icon img-fluid">
                <p class="promotion__icon-text">
                    Финальное оформление согласно дизайн-проекту
                </p>
            </li>
        </ul>
    </div>
</section>

