<section class="services-block">
    <div class="container _container-custom">
        <h2 class="services__title block-title text-uppercase">
            ЧТО МЫ ДЕЛАЕМ
        </h2>
        <ul class="services__list d-flex flex-column">
            <li class="services__item card d-flex flex-row">
              <img
                  class="card-img img-fluid"
                  src="../assets/images/services-block-1.png"
                  alt="Ландшафтный дизайн"
              />
              <div class="card-body d-flex flex-column justify-content-around">
                <h3 class="card-title">Ландшафтный дизайн</h3>
                <p class="card-text">
                  Ландшафтный дизайн способен сделать любую территорию красивой,
                  оригинальной и неповторимой. Альпийская горка, каменистый сад,
                  зеленые аллеи, пруд, цветники - на вашем участке может быть все, что
                  вы пожелаете.
                </p>
                <a href="#" class="card-link text-uppercase">Рассчитать стоимость</a>
              </div>
            </li>
            <li class="services__item card d-flex flex-row">
              <img
                src="../assets/images/services-block-2.png"
                class="card-img img-fluid"
                alt="Интерьер"
              />
              <div class="card-body d-flex flex-column justify-content-around">
                <h3 class="card-title">Интерьер</h3>
                <p class="card-text">
                  В интерьере может преобладать один стиль или сочетаться несколько
                  разных. Именно от стиля интерьера будет зависеть выбор строительных
                  и отделочных материалов, планировка помещения, выбор мебели и
                  декора.
                </p>
                <button class="card-link text-uppercase">Рассчитать стоимость</button>
              </div>
            </li>
            <li class="services__item card d-flex flex-row">
                <img
                  src="../assets/images/services-block-3.png"
                  class="card-img img-fluid"
                  alt="Экстерьер"
                />
                <div class="card-body d-flex flex-column justify-content-around">
                  <h3 class="card-title">Экстерьер</h3>
                  <p class="card-text">
                    Первое впечатление о дизайне начинается с фасада. Внешний вид
                    любого здания – это его визитная карточка.
                  </p>
                  <a href="#" class="card-link text-uppercase">
                    Рассчитать стоимость
                  </a>
                </div>
            </li>
            <li class="services__item card d-flex flex-row">
                <img
                  src="../assets/images/services-block-4.png"
                  class="card-img img-fluid"
                  alt="Общественные заведения"
                />
                <div class="card-body d-flex flex-column justify-content-around">
                  <h3 class="card-title">Общественные заведения</h3>
                  <p class="card-text">
                    Только креативное решение и индивидуальный подход поможет сделать
                    ваше заведение уютным и душевным. Вы же помните, что возвращаться
                    хочется только туда, где атмосферно?
                  </p>
                  <a href="#" class="card-link text-uppercase">
                    Рассчитать стоимость
                  </a>
                </div>
            </li>
          </ul>
    </div>
</section>