<hr class="separator">

<section class="working">
    <div class="_container-custom">
        <h2 class="working__title block-title text-uppercase">
            Как мы работаем
        </h2>
        <p class="working__text">Мы гарантируем порядочность, профессиональный подход и высокое качество наших работ</p>
        <ul class="working__list d-flex justify-content-around">
            <li class="working__item d-flex flex-column justify-content-start align-items-center">
                <img class="working-icon img-fluid" src="../assets/images//work-icon-1.svg" alt="icon">
                <p class="working-icon-description text-center">Оставьте 
                    заявку</p>
            </li>
            <li class="working__item d-flex flex-column justify-content-start align-items-center">
                <img  class="working-icon img-fluid"src="../assets/images//work-icon-2.svg" alt="icon">
                <p class="working-icon-description text-center">
                    Забронируйте встречу с дизайнером 
                </p>
            </li>
            <li class="working__item d-flex flex-column justify-content-start align-items-center">
                <img class="working-icon img-fluid" src="../assets/images//work-icon-3.svg" alt="icon">
                <p class="working-icon-description text-center">
                    Заключите договор и обсудите начало разработки
                </p>
            </li>
            <li class="working__item d-flex flex-column justify-content-start align-items-center">
                <img class="working-icon img-fluid" src="../assets/images//work-icon-4.svg" alt="icon">
                <p class="working-icon-description text-center">
                    Наслаждайтесь результатом
                </p>
            </li>
        </ul>
    </div>
</section>