@import 'vars';
@import 'typography';
@import 'functions';
@import 'reset';

* {
  font-family: 'Montserrat', sans-serif;
  font-size: $baseFontSize;
}

html, body {
  overflow-x: hidden;
}

.wrapper {
  &__outer {
    background-color: $dark-1;
  }
}

._container-custom, .container-header {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
a {
  color: $white;
  cursor: pointer;
  &:hover, &:focus, &:visited {
    color: $white;
  }
}


.block-title {
  position: relative;
  padding-left: 5px;
  margin-bottom: min(calc(30px + 16 * ((100vw - 320px) / (1200 - 320))), 60px);
  font-weight: 300;
  font-size: min(calc(22px + 16 * ((100vw - 320px) / (1200 - 320))), 40px);
  line-height: min(calc(24px + 16 * ((100vw - 320px) / (1200 - 320))), 40px);
  color: $dark-1;
  text-transform: uppercase;
  &::after {
    position: absolute;
    z-index: -10;
    content: '';
    width: 100%;
    height: min(calc(16px + 16 * ((100vw - 320px) / (1200 - 320))), 25px);
    background-color: $yellow;
    border-radius: 2px;
    left: 0;
    right: 0;
    bottom: -5px;
  }
}

.btn {
  &__middle-size {
    padding: 20px 47px;
  }
  &__large {
    padding: 20px min(128px, 5%);
  }
}

.separator {
  height: 1px;
  width: 100vw;
  color: #000000;
  opacity: .05;
  margin: min(calc(48px + 16 * ((100vw - 320px) / (1160 - 320))), 80px) 0 min(calc(42px + 16 * ((100vw - 320px) / (1160 - 320))), 60px);
}


//@media screen and (max-width: 1200px){
//  ._container-custom {
//    max-width: 920px;
//  }
//}
//@media screen and (max-width: 992px){
//  ._container-custom {
//    max-width: 770px;
//  }
//}
//@media screen and (max-width: 767px){
//  ._container-custom {
//    max-width: none;
//  }

