@use "functions";

@mixin small-text() {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

@mixin heading() {
  font-size: min(calc(28px + 16 * ((100vw - 320px) / (1160 - 320))), 40px);
  line-height: min(calc(42px + 16 * ((100vw - 320px) / (1160 - 320))), 60px);
  font-weight: 300;
}

@mixin text-regular() {
  font-size: min(calc(14px + 16 * ((100vw - 320px) / (1160 - 320))), 18px);
  line-height: min(calc(20px + 16 * ((100vw - 320px) / (1160 - 320))), 32px);
  font-weight: 300;
}

@mixin small-semibold-text() {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

@mixin tiny-text() {
  font-size: 10px;
  line-height: 14px;
  font-weight: 300;
}

@mixin phone-number() {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
}

@mixin counter() {
  font-size: 60px;
  line-height: 100px;
  font-weight: 400;
}

@mixin card-title() {
  font-size: min(calc(16px + 16 * ((100vw - 320px) / (1160 - 320))), 26px);
  line-height: min(calc(28px + 16 * ((100vw - 320px) / (1160 - 320))), 40px);
  font-weight: 400;
}

@mixin card-link() {
  font-size: min(calc(14px + 16 * ((100vw - 320px) / (1160 - 320))), 16px);
  line-height: min(calc(14px + 16 * ((100vw - 320px) / (1160 - 320))), 18px);
  font-weight: 300;
}

@mixin breadcrumb() {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}
